{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Simple Salad</title>
  <meta name="title" content="Grilli - Amazing & Delicious Food">
  <meta name="description" content="This is a Restaurant html template made by codewithsadee">
  <link rel="shortcut icon" href="{% static 'logo.jpg'%}" type="image/svg+xml">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="preload" as="image" href="{% static 'hero-slider-1.jpg'%}">
  <link rel="preload" as="image" href="{% static 'hero-slider-2.jpg'%}">
  <link rel="preload" as="image" href="{% static 'hero-slider-3.jpg' %}">
  <style>
    .dropbtn {
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    </style>
</head>
<body id="top">
  <div class="preload" data-preaload>
    <div class="circle"></div>
    <p class="text">the simple salad</p>
  </div>

  <header class="header" data-header>
    <div class="container">

      <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'logo.jpg'%}" width="160" height="50" alt="Grilli - Home">
      </a>

      <nav class="navbar" data-navbar>

        <button class="close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'index' %}" class="navbar-link hover-underline active">
              <div class="separator"></div>

              <span class="span" style="color:black;  font-size: larger;">Home</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'menu' %}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span" style="color:black;  font-size: larger;">Menu</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span" style="color:black;  font-size: larger;">About Us</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'plans'%}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span" style="color:black; font-size: larger;">Plans</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#contact" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span" style="color:black;  font-size: larger;">Contact</span>
            </a>
          </li>

        </ul>

      </nav>
      {% if user.is_authenticated %}
      <a href="{% url 'logoutpage' %}" class="btn btn-secondary">
        <span class="text text-1">Logout</span>
        <span class="text text-2" aria-hidden="true">Logout</span>
      </a>
      {% else %}
      <a href="{% url 'loginpage' %}" class="btn btn-secondary">
        <span class="text text-1">login</span>
        <span class="text text-2" aria-hidden="true">Login</span>
      </a>
      {% endif %}
      <!-- <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><img src="{% static 'profile-user.png' %}" alt="user image" width="50" height="50"></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="">Hi, {{user.username}}</a>
          <a href="#home">Edit Profile</a>
          <a href="">Change Password</a>
        </div>
      </div> -->
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>
  <main>
    <article>
      <section class="hero text-center" aria-label="home" id="home" >

        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item >

            <div class="slider-bg">
              <img src="{% static 'bg10.jpg' %}" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal" style="font-size: 150%; font-weight: bolder; color: #7fb550;">The Simply Salad</p>
            <h1 class="display-1 hero-title slider-reveal" style="color: black;">
              For the love of <br>
              delicious food
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>
            <a href="{% url 'menu' %}" class="btn btn-primary slider-reveal"  style="background-color: #7fb550;">
              <span class="text text-1" style="background-color: C">View Our Menu</span>
              <span class="text text-2" aria-hidden="true" style="color:white;">View Our Menu</span>
            </a>
          </li>
          <li class="slider-item" data-hero-slider-item>
            <div class="slider-bg">
              <img src="{% static 'bg8.jpg'%}" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal" style="font-size: 150%; font-weight: bolder; color: black;">The Simply Salad</p>
            <h1 class="display-1 hero-title slider-reveal" style="color: black;">
              Flavors Inspired by <br>
              the Seasons
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>
            <a href="{% url 'menu' %}" class="btn btn-primary slider-reveal" style="background-color: #7fb550;">
              <span class="text text-1" style="background-color: #7fb550;">View Our Menu</span>
              <span class="text text-2" aria-hidden="true" style="color:white;">View Our Menu</span>
            </a>
          </li>
          <li class="slider-item" data-hero-slider-item>
            <div class="slider-bg">
              <img src="{% static 'bg9.jpg'%}" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal" style="font-size: 150%; font-weight: bolder; color: black;">The Simply Salad</p>
            <h1 class="display-1 hero-title slider-reveal" style="color: black;">
              Where every flavor <br>
              tells a story
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>
            <a href="{% url 'menu' %}" class="btn btn-primary slider-reveal" style="background-color: #7fb550;">
              <span class="text text-1" style="background-color: #7fb550;">View Our Menu</span>
              <span class="text text-2" aria-hidden="true" style="color:white;">View Our Menu</span>
            </a>
          </li>
        </ul>
        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>
        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>
      </section>
      <section class="section service bg-black-10 text-center" aria-label="service">
        <div class="container">
          <p class="section-subtitle label-2">Flavors For Royalty</p>
          <h2 class="headline-1 section-title">We Offer Top Notch</h2>
          <p class="section-text">
            Get fresh, healthy meals delivered fast from 
            Simply Salad - delicious salads, wraps, and bowls made with locally sourced ingredients.
          </p>
          <ul class="grid-list">
            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img1.JPG'%}" width="285" height="336" loading="lazy" alt="Breakfast"
                      class="img-cover">
                  </figure>
                </a>
                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#" style="text-transform:uppercase;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">combos</a>
                  </h3>
                  <a href="{% url 'menu'%}" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>
            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img6.JPG'%}" width="285" height="336" loading="lazy" alt="Appetizers"
                      class="img-cover">
                  </figure>
                </a>
                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#" style="text-transform:uppercase;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">salads  </a>
                  </h3>
                  <a href="{% url 'menu'%}" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>
            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img8.JPG'%}" width="285" height="336" loading="lazy" alt="Drinks"
                      class="img-cover">
                  </figure>
                </a>
                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#" style="text-transform:uppercase;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">FRUIT BOWLS</a>
                  </h3>
                  <a href="{% url 'menu' %}" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>
          </ul>
          <img src="{% static 'shape-1.png'%}" width="246" height="412" loading="lazy" alt="shape"
            class="shape shape-1 move-anim">
          <img src="{% static 'shape-2.png' %}" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
        </div>
      </section>
      <section id="about" class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">
          <div class="about-content">
            <p class="label-2 section-subtitle" id="about-label">Our Story</p>
            <h2 class="headline-1 section-title">Every Fla vor Tells a Story</h2>
            <p class="section-text">
              Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the
              industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled
              it to make a type specimen book It has survived not only five centuries, but also the leap into.
            </p>
            <a href="#" class="btn btn-primary">
              <span class="text text-1" style="color:white;">Read More</span>
              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>
          </div>
          <figure class="about-banner">
            <img src="{% static 'ab2.jpg'%}" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1">
            <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
              <img src="{% static 'about.jpg'%}" width="285" height="285" loading="lazy" alt=""
                class="w-100">
            </div>
          </figure>
        </div>
      </section>
      <center><iframe width="80%" height="580vh" src="https://www.youtube.com/embed/E68wkPSqCVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container" >
          <div class="about-content">
            <p class="label-2 section-subtitle" id="about-label">Our Story</p>
            <h2 class="headline-1 section-title">Every Fla vor Tells a Story</h2>
            <p class="section-text">
              Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the
              industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled
              it to make a type specimen book It has survived not only five centuries, but also the leap into.
            </p>
            <a href="#" class="btn btn-primary">
              <span class="text text-1" style="color:white;">Read More</span>

              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>
          </div>
          <figure class="about-banner">

            <img src="{% static 'new_logo.jpg'%}" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1" >

            <div class="abs-img abs-img-1 has-before"  data-parallax-item data-parallax-speed="1.75" style="float:right;">
              <img src="{% static 'new_logo.jpg'%}" width="285" height="285" loading="lazy" alt="" class="w-100">
            </div>
          </figure>
        </div>
      </section>

      <footer id="contact" class="footer section has-bg-image text-center"
      style="background-image: url('./assets/images/bg.jpg')">
      <div class="container" style="display:flex;flex-direction:column;align-items: center;">
       <h1><b>Contact Us</b></h1>
  
       <br>
       <span style="display: flex;flex-direction: row;"><h2 style="border-right: 1px solid white;">+91 9876543210 &nbsp;&nbsp;  </h2>
       <h2 style="border-left:1px solid white"> &nbsp;&nbsp;&nbsp;+91 9876543210</h2></span>
       <br>
          <div>
          <ul class="footer-list" style="display: flex;flex-direction: row;">
  
            <li>
              <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
            </li>
  
            <li>
              <a href="#" class="label-2 footer-link hover-underline">Zomato</a>
            </li>
  
            <li>
              <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
            </li>
  
            <li>
              <a href="#" class="label-2 footer-link hover-underline">Swiggy</a>
            </li>
  
            <!-- <li>
              <a href="#" class="label-2 footer-link hover-underline">Google Map</a>
            </li> -->
  
          </ul>
        </div>
              <div class="wrapper" style="display: flex;flex-direction: row;">
               <div class="button">
                  <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                  </div>
                  <span>Facebook</span>
                </div>
                <div class="button">
                  <div class="icon">
                    <i class="fab fa-twitter"></i>
                  </div>
                  <span>Zomato</span>
                </div>
                <div class="button">
                    <div class="icon">
                      <i class="fab fa-instagram"></i>
                    </div>
                  <span>Instagram</span>
                </div>
                <div class="button">
                    <div class="icon">
                      <i class="fab fa-youtube"></i>
                    </div>
                    <span>Swiggy</span>
                </div>
              </div>
    
        </div>
  
      </div>
    </footer>
  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
  <script src="{% static 'main.js'%}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</body>

</html>
