{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="background-image: url('{% static 'bg2_salads.jpg' %}');">
  <header class="header" data-header style="top: 0;">
    <div class="container">
      <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'logo.jpg' %}" width="150" height="70" alt="logo">
      </a>
      <nav class="navbar" data-navbar>
        <button class="close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="{% static 'logo.jpg' %}" width="150" height="70" alt="logo">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'index'%}" class="navbar-link hover-underline ">
              <div class="separator"></div>

              <span class="span">Home</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'menu' %}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Menus</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'index'%}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">About Us</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'plans'%}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Plans</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'index'%}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Contact</span>
            </a>
          </li>

        </ul>
      </nav>
      <a href="{% url 'loginpage' %}" class="btn btn-secondary">
        <span class="text text-1">Login</span>
        <span class="text text-2" aria-hidden="true">Sign UP</span>
      </a>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>
  <div class="container1">
    <div class="title1">Registration</div>
    {% for message in messages %}
    <h3 style="color:#7bc209">{{message}}</h3>
    {% endfor %}
    <div class="content1">
      <form action="signup" method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" name="mobile" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="password1" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" name="password2" required>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter Your Address" name="address" class="new" >
          </div>
          <div class="input-box">
            <span class="details" style="">Pincode</span>
            <input type="text" placeholder="Enter Pincode" name="pincode" class="new">
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>
</body>
</html>