{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'register.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="background-image: url('{% static 'bg2_salads.jpg' %}');">
    
    
  <div class="container">
    <div class="title">Registration</div>
    {% for message in messages %}
    <h5 style="color:#7bc209">{{message}}</h5>
    {% endfor %}
    <div class="content">
      <form action="signup" method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" name="mobile" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="password1" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" name="password2" required>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter Your Address" name="address" class="new" >
        </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>
</body>
</html>